@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap%27');
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    background: white;
}

.wrapper .sidebar {
    background-image: url("../img/sideback.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 18.9%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    font-family: 'Playfair Display', serif;
}

.wrapper .sidebar .profile img {
    display: block;
    height: 4.125rem;
    max-width: 8.125rem;
    margin: 0 auto;
    margin-top: 30px;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile h3 {
    color: white;
    margin: 20px 0 5px;
    font-size: 25px;
}

.wrapper .sidebar .profile p {
    color: white;
    font-size: 15px;
}

.menu {
    text-align: center;
    font-weight: 400;
    margin-top: 50%;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li:hover {
    border-right: 2px solid #f8a73e;
    transition: color o.3s;
}

.menu ul li a {
    color: #dbdbdb;
    font-size: 14px;
    letter-spacing: .0625rem;
}

.menu ul li a:hover {
    color: #f8a73e;
    transition: color 0.3s;
}

.pp {
    overflow: visible;
    margin-left: 18.9%;
    width: calc(100% - 18.9%);
    height: 100%;
}

.pp .pp-0 {
    height: 100%;
}

.capitulos .nomes {
    background-image: url("../img/capitulos/capitulos.jpg");
    border-bottom: 4px solid #f8a73e;
    height: 100%;
}

.capitulos .nomes .nomes2 {
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    padding: 120px;
}

.pp .pp-0 nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.pp-0 .texto {
    margin-left: 140px;
    margin-right: 140px;
    color: black;
    margin-top: 15px;
    line-height: 27px;
    text-align: justify;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.visual {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.conteudo {
    margin: auto;
    display: block;
    max-height: 500px;
    background-color: white;
}

#legenda {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.centro {
    text-align: center;
    padding: 0;
}

.relogio {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.relogio .display {
    background-color: #daa2084f;
    padding: 7%;
    text-align: center;
    border-radius: 10px;
    font-family: monospace;
    color: white;
}

#cor {
    background-color: #503709c7;
}