.home,.container{
    position: relative;
}

.container{
    padding-top: 5rem;
    height: 180vh;
    display: grid;
    row-gap: 1rem;
    background: url(../images/backgroundHome.png);
    background-size: cover;
}

.title{
    font-size: 40px;
    color: rgb(27, 27, 27);
    margin-bottom: 0.75rem;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
}

.line{
    width: 450px;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(119,121,9,1) 20%, rgba(65,142,70,1) 40%, rgba(53,154,154,1) 60%, rgba(45,43,174,1) 80%, rgba(255,0,164,1) 100%);
    margin: 10px auto;
    border-radius: 5px;
}

.panel1{
   
    width: auto;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    background: url(../images/backgroung1.png);
    background-size: cover;
    text-align: center;
}

.panel2{
   
    width: auto;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    background: url(../images/backgroung2.png);
    background-size: cover;
    text-align: center;
}

.lineB{
    width: 850px;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(119,121,9,1) 20%, rgba(65,142,70,1) 40%, rgba(53,154,154,1) 60%, rgba(45,43,174,1) 80%, rgba(255,0,164,1) 100%);
    margin: 4px auto;
    border-radius: 5px;
}

.title1{
    text-align: center;
    color: rgb(222, 222, 222);
    font-size: 34px;
    padding-top: 20px;
    
}


.title2{
    text-align: center;
    color: rgb(222, 222, 222);
    font-size: 34px;
    padding-top: 100px;
    
}

.text1{
    text-align: center;
    color: rgb(196, 196, 196);
    font-size: 18px;
    padding-top: 10px;

}

.homeButton{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
    color:  rgb(230, 230, 230);
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background:rgb(237, 61, 7);
    font: 500 1rem "Trebuchet MS", sans-serif;
}

.homeButton:hover{
    background: rgb(217, 56, 7);
}

.input{
    font: 500 1rem "Trebuchet MS", sans-serif;
    width: 250px;
    padding: 0.75rem;
    border-radius: 25px;
    border: 1px solid rgb(185, 185, 185);
    outline: none;
    background: rgb(243, 243, 243);
    transition: background 0.2s, border-color 0.2s;
}




